.footer {
  display: grid;
  justify-items: center;
  background-color: black;
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -10px;
}
.footer img {
  filter: brightness(5);
  display: flex;
  margin: 1%;
}

.footer p {
  color: white;
}
@media (min-width: 300px) and (max-width: 767px) {
  
  .footer img{
    margin: 3%;
    width: 50%;
  }
}